# Amazon's Best Sellers 2025 - EDA

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Importing data

In [1]:
best_sellers = pd.read_csv("data/Amazon_bestsellers_items_2025.csv")
best_sellers

NameError: name 'pd' is not defined

#### Basic understanding of data

In [10]:
# basic info
best_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           999 non-null    int64
 1   rank                 999 non-null    int64
 2   asin                 999 non-null    object
 3   product_title        999 non-null    object
 4   product_price        945 non-null    object
 5   product_star_rating  969 non-null    float64
 6   product_num_ratings  969 non-null    float64
 7   product_url          999 non-null    object
 8   product_photo        999 non-null    object
 9   rank_change_label    0 non-null      float64
 10  country              999 non-null    object
 11  page                 999 non-null    int64
dtypes: float64(3), int64(3), object(6)
memory usage: 93.8+ KB

In [12]:
# missing values
best_sellers.isnull().sum()

Unnamed: 0               0
rank                     0
asin                     0
product_title            0
product_price           54
product_star_rating     30
product_num_ratings     30
product_url              0
product_photo            0
rank_change_label      999
country                  0
page                     0
dtype: int64

In [14]:
# basic stat
best_sellers.describe()

,Unnamed: 0,rank,product_star_rating,product_num_ratings,rank_change_label,page
count,999.000000,999.000000,969.000000,969.000000,0.0,999.000000
mean,499.000000,50.450450,4.140248,1312.546956,NaN,1.499499
std,288.530761,28.852421,0.496382,3025.241537,NaN,0.500250
min,0.000000,1.000000,1.000000,1.000000,NaN,1.000000
25%,249.500000,25.500000,3.900000,54.000000,NaN,1.000000
50%,499.000000,50.000000,4.200000,218.000000,NaN,1.000000
75%,748.500000,75.000000,4.400000,1009.000000,NaN,2.000000
max,998.000000,100.000000,5.000000,19189.000000,NaN,2.000000

In [17]:
# shape
best_sellers.shape

(999, 12)

#### Data cleaning

In [26]:
# checking for missing values
best_sellers.isnull().sum()

Unnamed: 0             0
rank                   0
asin                   0
product_title          0
product_price          0
product_star_rating    0
product_num_ratings    0
product_url            0
product_photo          0
rank_change_label      0
country                0
page                   0
dtype: int64

In [ ]:
best_sellers

Empty DataFrame
Columns: [Unnamed: 0, rank, asin, product_title, product_price, product_star_rating, product_num_ratings, product_url, product_photo, rank_change_label, country, page]
Index: []